/* #logo{
    width:50px;
} */
#plus{
    margin: 5px;
}
ul{
    list-style-type: none;
}
label{
    padding: 10px;
    background: #17a2b8;; 
    display: table;
    color: #fff;
    border-color: #17a2b8;
 }
 label:hover{
     background-color: #28a745;
 }



input[type="file"] {
    display: none;
}

.folder_link {
    cursor: pointer;
}

.result {
    margin-left: 5vw;
    text-align: center;
    cursor: pointer;
}

.icons {
    margin-right: 10px;
}
