@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
/* font-family: 'Montserrat', sans-serif; */
body {
  font-family: 'Roboto', sans-serif !important;
  font-size: 13px !important;
}
#plus {
  margin: 5px;
}
ul {
  list-style-type: none;
}
label {
  padding: 10px;
  background: #17a2b8;
  display: table;
  color: #fff;
  border-color: #17a2b8;
}
label:hover {
  background-color: #0fb7d1;
  border-radius: 10px;
}

input[type='file'] {
  display: none;
}

.folder_link {
  cursor: pointer;
}

.result {
  margin-left: 5vw;
  text-align: center;
  cursor: pointer;
}

.icons {
  margin-right: 10px;
}

li {
  cursor: pointer;
}

.path_info {
  margin: 10px;
  padding: 10px;
  background-color: lightgrey;
}

#back {
  margin: 10px;
  cursor: pointer;
}

#path {
  display: none;
}

#breadcrumbs {
  display: flex;
  height: 30px;
}

.crumb {
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.container {
  width: 300vh !important;
}
/* #search {
  margin-left: 70px !important;
} */
#search_field {
  margin-left: 180px !important;
  border: none !important;
  outline: none !important;
}
#form__for__upload{
    margin-left:240px !important;
}
#preview-body{
    width: 65vh !important;

}
